.train-details-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 960px;
  
}

.display-serched-train {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sort-train {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.display-count {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.display-count span {
  cursor: pointer;
}

.train-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.train-details-pages {
  display: flex;
  align-self: flex-end;
  gap: 15px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  padding: 10px 15px;
  border: 1px solid #E4E0E9;
  color: #928F94;
  cursor: pointer;
}

.pagination:hover,
.pagination:hover svg path {
  border: 1px solid #FFA800;
  background-color: #FFFFFF;
  color: #FFA800;
  fill: #FFA800;
}

.pagination-active {
  background-color: #FFA800;
  color: #FFFFFF;
}