/* .find-ticket-container {
  width: 730px;
  
}

.find-ticket-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  height: 575px;
  background-color: #292929CC;
  margin-left: 50px;
  padding: 50px 20px;
}

.direction-title, 
.date-title {
  font-weight: 200;
  font-size: 1.5em;
  color: #FFFFFF;
}

.direction-form, 
.date-form {
  display: flex;
  justify-content: space-between;
}

.direction,
.date,
.find-ticket-button {
  width: 325px;
  height: 60px;
  outline: none;
  cursor: pointer;
}

.direction-swap {
  position: relative;
  top: 4px;
  left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.date-end {
  margin-left: 40px;
}

input {
  padding-left: 15px;
  font-size: 1em;
}

input::placeholder{
  color: lightgray;
}

.find-ticket-button {
  align-self: flex-end;
  background-color: #FFA800;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
 */
