.filter-widget-container {
  width: 370px;
  padding: 30px 20px;
  margin-bottom: 50px;
  background-color: #3E3C41;
  color: white;
}

.date-filter-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.date-filter-form::after,
.train-options::after,
.filter-cost::after {
  content: '';
  position: relative;
  left: -10px;
  width: 370px;
  height: 1px;
  margin-top: 33px;
  background-color: white;
}

.arrive-date-start,
.arrive-date-end {
  display: flex;
  flex-direction: column;
}

.input-date {
  height: 43px;
  padding: 15px 10px;
  border-radius: 5px;
  color: lightgray;
}

.train-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 15px; */
  margin-top: 30px;
}

.option-element {
  display: flex;
  justify-content: space-between;
  width: 258px;
  margin-bottom: 20px;
}

.filter-cost {
  margin: 20px 0px;
}

.direction-forward,
.direction-backward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.direction-forvard-left-col,
.direction-backward-left-col {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5em;
}

.direction-forward-img {
  content: url('../../img/svg/directionRigth.svg');
  width: 32px;
  height: 26px;
}

.direction-backward-img {
  content: url('../../img/svg/directionLeft.svg');
  width: 32px;
  height: 26px;
}

.direction-forward-more {
  content: url('../../img/svg/moreDetails.svg');
  width: 20px;
  height: 20px;
  cursor: pointer;
}