@keyframes trainAnimation {
  0% {
    transform: translateX(-100%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) scale(0.3);
    opacity: 0;
  }
}

@keyframes underlineAnimation {
  0% {
    transform: translateX(100%) scale(0.3);
    opacity: 0;
  }
  50% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) scale(0.3);
    opacity: 0;
  }
}

.animate-train {
  animation: trainAnimation 3s infinite;
}

.animate-underline {
  animation: underlineAnimation 3s infinite;
}