.progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
  height: 97px;
  margin-bottom: 50px;
  background-color: #3E3C41;
  color: #FFFFFF;
}

.prodgress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.progress-bar-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #FFFFFF;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.righgt-arrow {
  content: url('../../img/svg/rightArrow.svg');
}

