.app {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.containers {
  display: flex;
  flex-direction: column;
}

.train-container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

.train-details-container {
  width: 960px;
}
