.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* max-width: 1440px; */
  display: flex;
  flex-direction: column;
}

.train-container {
  width: 1440px;
  margin: 0 auto;
}