.info-container {
  position: relative;
  width: 100vw;
  height: 575px;
  overflow: hidden; 
  margin-bottom: 50px;
}

.info-img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw; 
   height: 575px;
  background-image: url("../../img/railways.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  z-index: -2; 
}

.info-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 575px;
  background-color: #ffa600;
  opacity: 0.5; 
  z-index: -1; 
}

.col-1 {
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.info-title {
  font-size: 2.5em;
  color: white;
}

.learn-more {
  padding: 15px 100px;
  font-size: 1em;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  cursor: pointer;
}

.col-2-container {
  max-width: 1440px;
  margin: 0 auto;
}

.col-2 {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;
}

.col-2_item {
  width: 162px;
  height: 162px;
}

.item-img {
  position: relative;
  width: 162px;
  height: 162px;
  margin: 0 auto 10px auto;
}

.item-text {
  position: relative;
  text-align: center;
  font-size: 1em;
  color: white;
}
