.info-container {
  position: relative;
  width: 100vw;
  height: 575px;
  overflow: hidden; 
  margin-bottom: 50px;
}

.info-img {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw; 
   height: 575px;
  background-image: url("../../img/railways.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  z-index: -2; 
}

.info-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 575px;
  background-color: #ffa600;
  opacity: 0.5; 
  z-index: -1; 
}

.col-1 {
  position: relative;
  z-index: 1; /* Размещаем основной контент поверх маски и картинки */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Отступы для контента */
  max-width: 1440px;
  margin: 0 auto;
}

.learn-more {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  /* z-index: 2; */
}

.col-2-container {
  max-width: 1440px;
  margin: 0 auto;
}

.col-2 {
  display: flex;
  justify-content: space-around; /* Равномерное распределение элементов */
  align-items: center;
  padding: 20px 0;
  /* z-index: 1; */
}

.col-2_item {
  text-align: center;
  /* z-index: 1; */
}

.item-img {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
}

.item-text {
  position: relative;
  top: 30px;
  left: 40px;
  font-size: 1em;
  color: #000;
}
